{{> header }}

<main class="home">
  <img src="{{ root }}{{image}}" alt="Avatar"/>
  <span class="name">{{{ name }}}</span>
  <hr/>
  <span class="about">{{{ description }}}</span>

  <ul>
    {{#each links}}
      <li>
        <a href="{{ url }}" target="_blank"><i class="{{ icon }}"></i></a>
      </li>
    {{/each}}
  </ul>
</main>

{{> footer }}
